---
import Testimonio from "./Testimonio.astro";
import T1 from "../assets/imgTestimonios/T1.webp";
import T2 from "../assets/imgTestimonios/T2.webp";
import T3 from "../assets/imgTestimonios/T3.webp";
import T4 from "../assets/imgTestimonios/T4.webp";
import T5 from "../assets/imgTestimonios/T5.webp";
import T6 from "../assets/imgTestimonios/T6.webp";
import T7 from "../assets/imgTestimonios/T7.webp";
import IconoGoogle from "./icons/IconoGoogle.astro";
---

<script type="module">
  import KeenSlider from "https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/+esm";

  const keenSlider = new KeenSlider(
    "#keen-slider",
    {
      loop: true,
      slides: {
        origin: "center",
        perView: 1,
        spacing: 16,
      },
      breakpoints: {
        "(min-width: 1281px)": {
          slides: {
            origin: "auto",
            perView: 3,
            spacing: 16,
          },
        },
        "(min-width: 1638px)": {
          slides: {
            origin: "auto",
            perView: 4,
            spacing: 16,
          },
        },
        "(min-width: 2100px)": {
          slides: {
            origin: "auto",
            perView: 5,
            spacing: 16,
          },
        },
      },
    },
    [],
  );
  const keenSliderPrevious = document.getElementById("keen-slider-previous");
  const keenSliderNext = document.getElementById("keen-slider-next");

  keenSliderPrevious.addEventListener("click", () => keenSlider.prev());
  keenSliderNext.addEventListener("click", () => keenSlider.next());
</script>
<script>
  document.addEventListener("astro:page-load", function () {
    const blockquotes = document.getElementsByClassName("seguir"); // Solo elementos con la clase "seguir"
    let maxHeight = 100; // Altura máxima deseada

    for (let i = 0; i < blockquotes.length; i++) {
      const blockquote = blockquotes[i];
      const paragraphs = blockquote.getElementsByTagName("p");
      for (let j = 0; j < paragraphs.length; j++) {
        const paragraph = paragraphs[j];
        const paragraphHeight = paragraph.clientHeight;

        if (paragraphHeight > maxHeight) {
          const button = document.createElement("button"); // Crear un nuevo botón
          button.textContent = "Seguir leyendo";
          button.style.backgroundColor = "#22c55e";
          button.style.color = "white";
          button.style.padding = "3px 10px";
          button.style.border = "none";
          button.style.cursor = "pointer";
          button.style.borderRadius = "4px";
          button.style.marginTop = "10px";
          button.style.fontSize = "smaller";
          button.addEventListener("mouseover", function () {
            button.style.backgroundColor = "#1a9148";
          });
          button.addEventListener("mouseout", function () {
            button.style.backgroundColor = "#22c55e";
          });
          blockquote.appendChild(button); // Agregar el botón al bloque de citas

          button.addEventListener("click", function () {
            if (paragraph.style.maxHeight === "none") {
              paragraph.style.maxHeight = maxHeight + "px";
              this.textContent = "Seguir leyendo";
              blockquote.classList.add("xl:h-[280px]"); // Agregar la clase al blockquote
            } else {
              paragraph.style.maxHeight = "none";
              this.textContent = "Leer menos";
              blockquote.classList.remove("xl:h-[280px]"); // Eliminar la clase del blockquote
            }
          });

          paragraph.style.maxHeight = maxHeight + "px";
          break; // Salir del bucle al encontrar un párrafo que cumple la condición
        }
      }
    }
  });
</script>

<section class="bg-white overflow-hidden">
  <div class="mx-auto w-full px-4 py-12 sm:px-16 lg:py-16 xl:py-24">
    <div class="md:flex md:items-center md:justify-between px-8 gap-4">
      <h2
        class="text-3xl font-bold tracking-tight text-gray-900 md:text-5xl max-md:flex max-1sm:flex-col max-md:justify-center max-1sm:items-center"
      >
        Testimonios<span class="px-1">de</span><span>nuestros clientes</span>
      </h2>

      <a
        href="https://g.co/kgs/wgxFeoB"
        target="_blank"
        class="max-md:w-full justify-center mt-6 inline-flex shrink-0 items-center float-end gap-2 rounded-full border border-[#22c55e] px-5 py-3 text-[#22c55e] transition hover:bg-[#22c55e] hover:text-white md:mt-0"
      >
        <span class="font-medium"> Reseñas </span>

        <IconoGoogle class="size-10" />
      </a>
    </div>
    <div class="mx-6 my-8 lg:col-span-3 lg:mx-0">
      <div id="keen-slider" class="keen-slider">
        <Testimonio
          texto="Ángel está siempre pendiente y animándote para que seguir avanzando. Los ejercicios se hacen en un rato y la nutrición se lleva muy bien. ¡Muchas gracias!"
          nombre="Paula Mª Ruiz Florido"
          img={T1}
          clase="object-cover"
          claseblockquote=""
        />
        <Testimonio
          texto="Empecé con Movilízate hace 3 meses porque quería bajar de peso y aumentar mi masa muscular. Después de una pequeña entrevista adaptó el plan nutricional y el plan de entrenamiento a mis necesidades y a mi tiempo. Llevaba entrenando muchos años pero sin un plan específico por lo que estaba estancada. Actualmente he conseguido ganar 2'5 kg de masa muscular y sentirme mucho mejor conmigo misma.Y esto no a hecho más que empezar. Si aún piensas que no puedes lograrlo no aplaces más el cambio de tu vida y compruebalo por ti mism@. Seguimos growing up.☆"
          nombre="Sara A.Rodriguez"
          img={T2}
          clase="object-cover"
          claseblockquote="seguir"
        />
        <Testimonio
          texto="Agradecida infinitamente con El Universo por ponerme en el camino a Movilízate 💚 siguiendo el plan de nutrición y de ejercicios personalizado que hacen con mucha dedicación, los resultados se vayan notando prácticamente desde el primer momento 💪un millón de gracias Ángel y a todo tu equipo por vuestra profesionalidad y por darle un reseteo a mi metabolismo, además que me gusta mucho cuidarme y moverme. Anímate y no olvides que la disciplina y el amor son la base de todo"
          nombre="Lily's Dulce y Salado Internacional"
          img={T3}
          clase="object-cover"
          claseblockquote="seguir"
        />
        <Testimonio
          texto="Llevo menos de un mes con esta plataforma y ya noto cambios físicos y a nivel personal. Estoy muy contenta."
          nombre="Julia Rodríguez"
          img={T4}
          clase="object-contain"
          claseblockquote=""
        />
        <Testimonio
          texto="Ángel es muy atento y abierto para cualquier duda que surja. Recomendable."
          nombre="Petya Panova"
          img={T5}
          clase="object-cover"
          claseblockquote=""
        />
        <Testimonio
          texto="Movilízate está muy pendiente con mi día a dia, da mucha confianza y ganas en seguir adelante.. gracias!"
          nombre="Toñi Rodríguez"
          img={T6}
          clase="object-cover"
          claseblockquote=""
        />
        <Testimonio
          texto="Increíblee!!"
          nombre="Stefano Tomas Fernandez"
          img={T7}
          clase="object-cover"
          claseblockquote=""
        />
      </div>
    </div>

    <div class="mt-8 flex gap-4 lg:mt-0 justify-center">
      <button
        aria-label="Previous slide"
        id="keen-slider-previous"
        class="rounded-full border border-rose-600 p-3 text-rose-600 transition hover:bg-rose-600 hover:text-white"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5 rtl:rotate-180"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"></path>
        </svg>
      </button>
      <button
        aria-label="Next slide"
        id="keen-slider-next"
        class="rounded-full border border-rose-600 p-3 text-rose-600 transition hover:bg-rose-600 hover:text-white"
      >
        <svg
          class="size-5 rtl:rotate-180"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9 5l7 7-7 7"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"></path>
        </svg>
      </button>
    </div>
  </div>
  <style>
    .button {
      background-color: #22c55e;
    }

    .button:hover {
      background-color: #1a9148;
    }
  </style>
</section>
